@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@layer utilities {
  .btn-disabled {
    @apply disabled:cursor-not-allowed disabled:opacity-50;
  }
  @keyframes pulse-correct-province {
    0%,
    100% {
      fill: #04ec00; /* light purple */
      color: #04ec00;
    }
    50% {
      fill: #048902; /* dark purple */
      color: #048902;
    }
  }
  @keyframes pulse-blue {
    0%,
    100% {
      fill: #0084d1; /* light purple */
      color: #0084d1;
    }
    50% {
      fill: #005587; /* dark purple */
      color: #005587;
    }
  }

  .animate-pulse-correct-province {
    animation: pulse-correct-province 1.5s ease-in-out infinite;
  }
  .animate-pulse-blue {
    animation: pulse-blue 1.5s ease-in-out infinite;
  }

  @keyframes gradient-bg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .gradient-animation {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient-bg 10s ease infinite;
  }
}
